@font-face {
   font-family: Neue;
   src: url(./Fonts/PPNeueMachina_\ Light.ttf);
}

@font-face {
   font-family: Gilroy;
   src: url(./Fonts/Gilroy-Medium.ttf);
}

@font-face {
   font-family: Paris;
   src: url(./Fonts/Paris2024-Variable.ttf);
}